<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>

    <%- include('header.ejs') %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
            <%- include('leftmenu.ejs') %>
            </div>

            <div class="col-10">

                <% if(regdata.length>0){ %>
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>firstname</th>
                                <th>lastname</th>
                                <th>number</th>
                                <th>email</th>
                                <th>message</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <% for(var i=0; i<regdata.length; i++){%>
                            <tr>
                                <td><%= regdata[i].firstname %></td>
                                <td><%= regdata[i].lastname %></td>
                                <td><%= regdata[i].number %></td>
                                <td><%= regdata[i].email %></td>
                                <td><%= regdata[i].message %></td>
                                <td><a class="btn btn-outline-primary" href="/update_contacts/<%= regdata[i].id %>">Update</a>
                                <a class="btn btn-outline-primary" href="/delete-3/<%= regdata[i].id %>">Delete</a></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <% } else { %>
                        No Record Found
                    <%} %>

            </div>

        </div>
    </div>

</body>
</html>